.App {
  display: flex;
  flex-direction: column;
  color: #333;
}

.table {
  color: #333 !important;
}

.table>:not(:first-child) {
  border-top: 2px solid lightgray !important;
}

h4 caption {
  color: black;
}

a:hover {
  text-decoration: underline;
}


#show_history_switch:checked, #show_coming_switch:checked{
  background-color: #0e688b;
  border-color: #0e688b;
}

h3, h4 {
  margin: 10px 10px 10px 0 !important;
  color : #0e688b;
}

th {
  color: #0e688b;
}
